# 입출력 제어

## 파일 생성 및 추가하기

In [1]:
!pwd

/home/khs/data

In [3]:
f = open("새파일이에요.txt", "w")

f.close()

<table style="float:left">
<thead>
<tr>
<th>파일열기모드</th>
<th>설명</th>
</tr>
</thead>
<tbody>
<tr>
<td>r</td>
<td>읽기 모드: 파일을 읽기만 할 때 사용한다.</td>
</tr>
<tr>
<td>w</td>
<td>쓰기 모드: 파일에 내용을 쓸 때 사용한다.</td>
</tr>
<tr>
<td>a</td>
<td>추가 모드: 파일의 마지막에 새로운 내용을 추가할 때 사용한다.</td>
</tr>
</tbody>
</table>

In [4]:
# 리눅스에서

f = open("/home/khs/test.txt", "w")

f.close()

In [8]:
f = open("새파일이에요.txt", "w")

for i in range(0, 20, 2):
    f.write(str(i) + "\n")

f.close()

In [12]:
import requests as req

f = open("즐겨찾기 종목.txt", "a")

url = "https://finance.naver.com/sise/sise_market_sum.naver"
ori = req.get(url).text

code = ['005930', '000270', '005380', '012450', '068270']

def finance(code = '005930'):

    start_title = ori.find(f'<a href="/item/main.naver?code={code}" class="tltle">')
    ori1 = ori[start_title : start_title + 70].replace(f'<a href="/item/main.naver?code={code}" class="tltle">','').replace('</a></td>', '').replace('</a></td', '').replace('\n', '').strip()
    ori2 = ori[start_title + 70 : start_title + 105].replace('<td class="number">', '').replace('</td>', '').replace('>', '').strip()
    print("종목:", ori1)
    print("가격:", ori2)

    result = "종목:" + ori1 + "\n" + "가격:" + ori2 + "\n"

    f.write(result)

for x in code:
    finance(x)

f.close()

종목: 삼성전자
가격: 178,400
종목: 기아
가격: 164,700
종목: 현대차
가격: 504,000
종목: 한화에어로스페이스
가격: 1,127,000
종목: 셀트리온
가격: 238,500

## 파일 읽기

In [13]:
# readline 함수 이용하기

In [14]:
# 응용 2

# 응용2

import requests as req
url = "https://api4.binance.com/api/v3/ticker/price?symbol=BTCUSDT"
res = req.get(url).text
print(res)
btc = res[29:34]
print(str(int(btc) * 1450) + '원') # 1억 1389만 6050원
won = str(int(btc) * 1450)

print(won)
# print(won[:1] +'억 ' + won[1:5] + '만 ' + won[5:] + '원')
print(((won[-12:8] +'억 ') if won[-12:-8] else "") + won[-8:-4] + '만 ' + won[-4:] + '원')

{"symbol":"BTCUSDT","price":"67185.42000000"}
97418250원
97418250
9741만 8250원

# 파이썬의 파일 쓰기 기능을 이용하기

- 파일 쓰기 기능을 이용하여
  로또 번호 중복없는 6개의 번호가 차례로 구성된
  결과를 10가지로 추천하여
  "로또추천.txt" 라는 파일로 남겨라.

In [50]:
import random as ran

f = open("/home/khs/data/로또 10세트.txt", 'w')

for i in range(10):
    box =[] 
    while len(box) < 6:
        rr = ran.randint(1, 46)
        if rr not in box:
            box.append(rr)

    box_sorted = sorted(box)
    
    print(f"{i+1}번째 결과: {box_sorted}")

    f.write(f"{i+1}번째 결과: {box_sorted}\n")

f.close()

1번째 결과: [3, 12, 15, 16, 27, 31]
2번째 결과: [5, 7, 26, 27, 29, 31]
3번째 결과: [6, 15, 20, 29, 33, 35]
4번째 결과: [12, 16, 21, 29, 44, 45]
5번째 결과: [19, 20, 21, 24, 30, 39]
6번째 결과: [8, 17, 19, 20, 40, 41]
7번째 결과: [3, 5, 34, 39, 43, 44]
8번째 결과: [10, 26, 27, 36, 39, 45]
9번째 결과: [10, 11, 13, 20, 39, 44]
10번째 결과: [7, 12, 15, 19, 33, 44]

In [61]:
import time as tt

f = open("./즐겨찾기 종목.txt","r")

while 1:
    line = f.readline()
    if not line: break
    print(line, end="")
    tt.sleep(1)

f.close()

종목:삼성전자
가격:178,400
종목:기아
가격:164,700
종목:현대차
가격:504,000
종목:한화에어로스페이스
가격:1,127,000
종목:셀트리온
가격:238,500

In [63]:
import time as tt

f = open("./즐겨찾기 종목.txt","r")

while 1:
    line = f.readline().strip() # strip() 공백문자(\n같은 문자들) 제거 
    if not line: break
    print(line, end="\r")
    tt.sleep(1)
    print(" " * 15, end="\r")

f.close()

In [64]:
f = open("./즐겨찾기 종목.txt","r")
print(f.readlines())

f.close()

['종목:삼성전자\n', '가격:178,400\n', '종목:기아\n', '가격:164,700\n', '종목:현대차\n', '가격:504,000\n', '종목:한화에어로스페이스\n', '가격:1,127,000\n', '종목:셀트리온\n', '가격:238,500\n']

In [66]:
f = open("./즐겨찾기 종목.txt", "r")
print(f.read())

f.close()

종목:삼성전자
가격:178,400
종목:기아
가격:164,700
종목:현대차
가격:504,000
종목:한화에어로스페이스
가격:1,127,000
종목:셀트리온
가격:238,500

In [74]:
f = open("./즐겨찾기 종목.txt", "r")

for line in f:
    print(line, end="")

f.close()

종목:삼성전자
가격:178,400
종목:기아
가격:164,700
종목:현대차
가격:504,000
종목:한화에어로스페이스
가격:1,127,000
종목:셀트리온
가격:238,500
종목:홍길동
가격:9,999,999

In [70]:
f = open("./즐겨찾기 종목.txt", "r")

print(f)

f.close()

<_io.TextIOWrapper name='./즐겨찾기 종목.txt' mode='r' encoding='UTF-8'>

In [18]:
f = open("./즐겨찾기 종목.txt", "a")

f.write(f'종목:홍길동\n가격:9,999,999')

f.close()

## With문으로 읽고 쓰기

In [19]:
with open("./즐겨찾기 종목.txt", "r") as f:
    print(f.closed)
    print(f.read())
    print(f.closed)
print(f.closed)

False
종목:삼성전자
가격:178,400
종목:기아
가격:164,700
종목:현대차
가격:504,000
종목:한화에어로스페이스
가격:1,127,000
종목:셀트리온
가격:238,500
종목:홍길동
가격:9,999,999
False
True

In [22]:
# 함수스코프

def my_function():
    func_var = "함수 안의 변수"

my_function()
print(func_var)

NameError: name 'func_var' is not defined

In [25]:
with open("./즐겨찾기 종목.txt", "r") as f:
    data = f.read()
print(data)

종목:삼성전자
가격:178,400
종목:기아
가격:164,700
종목:현대차
가격:504,000
종목:한화에어로스페이스
가격:1,127,000
종목:셀트리온
가격:238,500
종목:홍길동
가격:9,999,999

In [26]:
for x in range(3):
    print(x)

0
1
2

In [27]:
x

2

### 프로그램의 입출력

In [34]:
import sys 
args = sys.argv
for i in args:
    print(i)

/home/khs/venv/lib/python3.12/site-packages/ipykernel_launcher.py
-f
/home/khs/.local/share/jupyter/runtime/kernel-c69f2450-da9b-4289-99d5-7796a2aa20d1.json

In [38]:
!python3 args_test.py 11 22 33

args_test.py
11
22
33

In [45]:
%%sh
python3 args_test.py 11 22 33 
python3 btc.py

args_test.py
11
22
33
{"symbol":"BTCUSDT","price":"66144.81000000"}
95908800원
95908800
9590만 8800원

In [46]:
import sys
args = sys.argv[1:]

for i in args:
    print(i.upper(), end=' ')

-F /HOME/KHS/.LOCAL/SHARE/JUPYTER/RUNTIME/KERNEL-C69F2450-DA9B-4289-99D5-7796A2AA20D1.JSON

In [47]:
%%sh
cat << 'end' > sys2.py
import sys
args = sys.argv[1:]
for i in args:
    print(i.upper(), end=' ')
end

python3 sys2.py life is too short, you need python

LIFE IS TOO SHORT, YOU NEED PYTHON

In [48]:
# 되새김 문제

In [71]:
# 1. 홀수, 짝수 판별하기

def is_odd(number = 1):
    if number % 2 == 1:
        return True
    else:
        return False

print(is_odd(1))
print(is_odd(2))

True
False

In [72]:
# 2. 모든 입력의 평균값 구하기

def avg_numbers(*args):
    result = 0
    for i in args:
        result +=i
    return result / len(args)

print(avg_numbers(1, 2))
print(avg_numbers(1, 2, 3, 4, 5))

1.5
3.0

In [138]:
# 3. 프로그램 오류 수정하기 1

# 원문

# input1 = input("첫 번째 숫자를 입력하세요: ")
# input2 = input("두 번째 숫자를 입력하세요: ")

# total = input1 + input2
# print("두 수의 합은 %s입니다." % total)

######

# 오류 수정

input1 = int(input("첫 번째 숫자를 입력하세요: "))
input2 = int(input("두 번째 숫자를 입력하세요: "))

total = input1 + input2
print("두 수의 합은 %d입니다." % total)

첫 번째 숫자를 입력하세요:  3
두 번째 숫자를 입력하세요:  6

두 수의 합은 9입니다.

In [88]:
# 4. 출력 결과가 다른 것은?

# 1. print("you" "need" "python") # 쉼표가 없으니 띄어쓰기 안함
# 2. print("you" + "need" + "python") # 문자열 끼리 연산(띄어쓰기 안함)
# 3. print("you", "need", "python") # 쉼표를 사용하면 문자열을 띄어 쓸 수 있다.
# 4. print("".join(["you", "need", "python"])) # 모르지만 1,2 번과 비교해서 3번만 결과값이 문자열끼리 띄어져서 출력되기에 답은 3번

In [121]:
# 5. 프로그램 오류 수정하기 2

f1 = open("test.txt", 'w')
f1.write("Life is too short")
f1.close()

f2 = open("test.txt", "r")
print(f2.read())

Life is too short

In [122]:
# 6. 사용자 입력 저장하기

user_input = input("저장할 내용을 입력하세요:")
f = open('test.txt', 'a')
f.write(user_input)
f.write("\n")
f.close()

f2 = open('test.txt', 'r')
result = f2.read()
f.close

print(result)

저장할 내용을 입력하세요: aaa

Life is too shortaaa

In [115]:
# 7. 파일의 문자열 바꾸기

f = open('test.txt', 'r')
body = f.read()
f.close()

print(body)

body = body.replace('java', 'python')

f = open('test.txt', 'w')
f.write(body)
f.close()

print(body)

Life is too short
you need java
Life is too short
you need python

In [ ]:
# 8. 입력값을 모두 더해 출력하기

In [147]:
%%sh

python3 myargv.py 1 2 3 4 5 6 7 8 9 10

55