2장 문제

In [22]:
# 평균 점수 구하기

kor = 80
eng = 75
math = 55

avg = ((kor + eng + math) / 3)

print(int(avg))

70

In [23]:
# 홀수, 짝수 판별하기

number = 13

if number % 2 == 1:
    print("True")
else:
    print ("False")

True

In [15]:
# 주민등록번호 나누기

pin = "881120-1068234"
yyyymmdd = pin[0:6]
num = pin[-7:]

print(yyyymmdd)
print(num)

881120
1068234

In [21]:
# 주민등록번호 인덱싱

pin = "881120-1068234"
gender = pin[-7]

print(gender)

if int(gender)  == 1:
    print("남성입니다.")
else:
    print("여성입니다.")

1
남성입니다.

In [24]:
# 문자열 바꾸기

a = "a:b:c:d"
b = a.replace(":", "#")

print(b)

a#b#c#d

In [30]:
# 리스트 역순 정렬하기

a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()

print(a)

[5, 4, 3, 2, 1]

In [34]:
# 리스트를 문자열로 만들기

a = ['Life', 'is', 'too', 'short']
result = a.join(a)

print(result)

AttributeError: 'list' object has no attribute 'join'

In [35]:
# 튜플 더하기

a = (1, 2, 3)
a = (1, 2, 3) + (4)

print(a)

TypeError: can only concatenate tuple (not "int") to tuple

In [40]:
# 딕셔너리의 키

a = dict()

a['name'] = 'python'
a[('a',)] = 'python'

print(a['name'])
print('a',)

python
a